*{
   background: linear-gradient(to right, #d9a7c7 0%, #dbe6f6 100%);
    padding: 0;
    margin: 0;
}
  h1{
    text-align:center;
    margin-top:20px;
    font-size:60px;
    font-family: 'Comic Sans MS';   

}
#game{
    width: 400px;
    height: 500px;
    border: 1px solid rgb(0, 0, 0);
    margin: 70px auto;
   background: white;
    overflow: hidden;
}
#character{
    width: 20px;
    height: 20px;
    background: rgb(240, 84, 84);
    border-radius: 50%;
    position: relative;
    top: 400px;
    left: 190px;
    z-index: 1000000;
}
.block{
    width: 400px;
    height: 20px;
    background: rgb(34, 34, 34);
    position: relative;
    top: 100px;
    margin-top: -20px;
}
.hole{
    width: 40px;
    height: 20px;
    background:white;
    position: relative;
    top: 100px;
    margin-top: -20px;
}
